@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/mixins";

$primary: #01B4B9;
$secondary: #E9E8E5;


@import "../../../node_modules/bootstrap/scss/bootstrap";



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
